.PresenteListaItem {
    font-family: "Exo";
    background: #e41313;
    border-radius: 10px;
    padding: 10px;
    width: 315px;
    display: flex;
    justify-content: space-between;
    position: relative;
    border-radius: 10px;
    color: white;
    cursor: pointer;

  }

  .PresenteListaItem--disable {
    box-shadow: 0px 0px 7px RGB(0, 196, 212);
  }
  
  .PresenteListaItem--disable,
  .PresenteListaItem--disable .PresenteListaItem__preco {
    color: gray;
  }
  
  .PresenteListaItem--disable .PresenteListaItem__badge {
    display: none;
  }
  
  .PresenteListaItem--disable img {
    filter: grayscale(100%);
  }
  
  .PresenteListaItem--disable button:disabled {
    background-color: black;
  }
  
  .PresenteListaItem__tag {
    background-color: black !important;
    color: white !important;
    position: absolute;
    font-size: 0.6em;
    border-radius: 5px;
    padding: 5px;
    top: -15px;
    left: -10px;
    letter-spacing: 1px;
  }
  
  
  @media (max-width: 400px) {
    .PresenteListaItem {
      width: 210px;
      height: 180px;
    }
  }
  
  .PresenteListaItem > div {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
  }
  
  .PresenteListaItem__titulo {
    font-size: 1.5em;
    font-weight: 700;
    line-height: 100%;

  }
  
  .PresenteListaItem__marca {
    font-size: 0.85em;
    width: 100%;
  }

  .PresenteListaItem__preco {
    color: white;
  }
  
  .Acoes {
    display: flex;
    justify-content: space-between;
  }
  
  .Acoes__adicionar,
  .Acoes__remover {
    border: none;
    color: white;
    border-radius: 5px;
    font-family: "Exo", sans-serif;
    padding: 5px;
    max-width: 280px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    width: 48%;
  }
  
  .Acoes__remover {
    background-color: rgb(160, 0, 0);
  }
  
  .Acoes__adicionar {
    background-color: black;
    border: 1px solid white
  }

  .Acoes__remover:hover {
    background-color: #800000;
  }
  
  .Acoes__adicionar:hover {
    background-color: white;
    color: black;
    border: 1px solod black;
  }
  
  .Acoes__adicionar--preencher {
    width: 70%;
  }
  
  .PresenteListaItem__foto {
    height: 150px;
  }

  .PresenteListaItem--deletar {
    box-shadow: 0px 0px 7px rgba(211, 0, 0);
  }
  
  .PresenteListaItem__tag--deletar {
    background-color: red !important;
  }